
<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-creapost">
  <template>
    <style include="shared-styles">
      :host {
        display: block;

        padding: 10px;
      }
    </style>

    <div class="card">
      <div class="circle">4</div>
      <h1>Crea el Post</h1>
      <label for="t1">Introduce el título de tu post</label>
      <input id="t1" type="text" value=[[titulo]]>
      <div>
        <label for="t2">Introduce el texto</label>
        <input id="t2" type="text" value=[[texto]]>
      </div>
      <button type="button" name="button" on-click="anadirPost">Crear</button>
    </div>
  </template>

  <script>
  Polymer({
    is: 'my-creapost',
    properties: {
      titulo: String,
      texto: String,
      autor: String
    },
    listeners: {
      'tap': 'incrementar'
    },
      anadirPost: function anadirPost() {
        /*validaciones

        if (t1.value == null ) {
          alert("El título no puede estar vacío");
          }
        else if (t2.value == null) {
          alert("El texto no puede estar vacío");
        }
        else
        {
        var postaux = '{"titulo":"' + t1.value + '", "texto":"' + t2.value + '","autor":{"nombre":"Pablo","apellido":"Dominguez"}}';
        alert(postaux);
        */
          const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=qpnQ2vCoFR8HMb_cf0vFfyP0B99yUKGL";
          var peticion = new XMLHttpRequest();
          peticion.open("POST",URL,false);
          peticion.setRequestHeader("Content-Type", "application/json");
          peticion.send('{"titulo":"' + t1.value + '", "texto":"' + t2.value + '","autor":{"nombre":"Pablo","apellido":"Dominguez"}}');

          alert("Post creado!!, puede verlo en el menú 'Post de MongoDB'");
          t1.value = "";
          t2.value = "";
        //}
        }
      })
  </script>
</dom-module>
