<link rel="import" href="../bower_components/polymer/polymer-element.html">
<link rel="import" href="../bower_components/polymer/lib/elements/dom-repeat.html">
<link rel="import" href="shared-styles.html">

<dom-module id="my-micomponente">
  <template>
    <style>
      :host {
        display: inline-block;
        background-color: grey;
      }
    </style>
    <div>
      <span>Mi primer componente Polymer</span>
    </div>
    <div>
      <span>[[saludo]]</span>
    </div>
    <div>
      <span>[[contador]]</span>
    </div>
    <button type="button" name="button" on-click="obtenerPost">Dame Posts</button>

  <!--  <div>
      <span>[[this.get([listado,0])]]</span>
    </div>

  -->
  <h3>Título del post en MongoDB</h1>
  <template is="dom-repeat" items="[[listado]]">

    <div>

      <h3>{{item.titulo}} ****** {{item.texto}}</h3>
      <h4></h4>
    </div>
  </template>
    <div class="table">
      <table>

      </table>
    </div>
  </template>
  <script>
    Polymer({
      is: 'my-micomponente',
      properties: {
        saludo: String,
        contador: Number,
        listado: Array
      },
      listeners: {
        'tap': 'incrementar'
      },
      incrementar: function() {

        this.contador = this.contador + 1;
        //this.listado = obtenerPost(); //[{"titulo": "hola", "texto": "es mi texto"},{"titulo": "hol2a", "texto": "es mi texto2"}];
        //alert(this.listado);
      }
      ,
      obtenerPost: function damePosts() {
        const URL = "https://api.mlab.com/api/1/databases/bootcamp/collections/posts?apiKey=qpnQ2vCoFR8HMb_cf0vFfyP0B99yUKGL";
        var peticion = new XMLHttpRequest();
        peticion.open("GET", URL, false); // false = síncrono
        peticion.setRequestHeader("Content-Type", "application/json");
        peticion.send();
        this.listado = JSON.parse(peticion.responseText);
        //sessionStorage["posts"] = peticion.responseText;
        //console.log(response);
        //mostrarPosts();
      }
    })
  </script>
</dom-module>
